body {
	margin: 0px;
	padding: 0px;
}
.textBlock {
	position: relative;
	margin-top:250px;
}

#flashcontainer {
	width: 611px;
	margin-left: auto;
	margin-right: auto;
}

#flashbackground {
	margin-left: auto;
	margin-right: auto;
}
.noFlash,
.noJavascript {
	margin-top: 50px;
}

.noFlash {
	display: none;
}
